{% extends 'base.html' %}

{% block content %}
{#    <h3 class="mb-4">Доступные приложения</h3>#}
    <div class="row">
        <!-- Цикл для отображения карточек приложений -->
        {% for app in apps_list %}
            <div class="col-md-4 mb-4">
                <div class="card border-info mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ app.name }}</h5>
                        <p class="card-text">{{ app.description }}</p>
                        <!-- Кнопка-ссылка на приложение -->
                        <a href="{% url app.url %}" class="btn btn-primary">Перейти</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>Доступных приложений пока нет.</p>
        {% endfor %}
    </div>
{% endblock %}