{% extends "hr/base.html" %}

{% block hr_content %}
<h3>Подтвердите удаление</h3>

<div class="card mt-3">
    <div class="card-body">
        <p>Вы уверены, что хотите удалить сотрудника?</p>
        <p class="fw-bold">{{ employee.last_name }} {{ employee.first_name }} {{ employee.middle_name }}</p>
    </div>
    <div class="card-footer">
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Удалить</button>
            <a href="{% url 'hr:employee_detail' employee.pk %}" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
</div>
{% endblock hr_content %}

